<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- versão de desenvolvimento, inclui avisos de console -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="framework in frameworks">
                {{ framework }}
            </li>
        </ul>

        <input v-model="new_item" />
        <button @click="addItem()">Add item</button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                frameworks: ['vue', 'react', 'angular']
            },
            methods: {
                addItem() {
                    frameworks.push(this.new_item)
                    this.new_item = ''
                }
            }
        })
    </script>
</body>
</html>